@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* Logo Font */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import "tailwindcss";

/*
Brand color: amber-400
text color: white
secondary text: stone-400


*/

@theme {
  --font-sans: "Manrope", sans-serif;
  --font-heading: "Bebas Neue", sans-serif;
  --font-logo: "Permanent Marker", cursive;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #09090b inset;
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
}
